services:
  caddy:
    image: ghcr.io/caddybuilds/caddy-cloudflare:{{ caddy_version }}
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    network_mode: "host"
    volumes:
      - {{ caddy_caddyfile_dir }}:/etc/caddy
      - {{ caddy_data_dir }}:/data
      - {{ caddy_config_dir }}:/config
    environment:
      - CLOUDFLARE_API_TOKEN={{ caddy_cloudflare_api_token }}
