services:
  tailscale:
    image: {{ tailscale_image }}
    hostname: {{ tailscale_host_name }}
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file:
      - .env
    volumes:
      - {{ tailscale_compose_dir }}/data:/var/lib
    restart: unless-stopped