version: '3.8'
services:
  tailscale:
    image: {{ tailscale_image }}
    container_name: {{ tailscale_container_name }}
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - {{ tailscale_volume_name }}:/var/lib
      - /dev/net/tun:/dev/net/tun
    env_file:
      - .env
    command: tailscaled
    restart: unless-stopped
volumes:
  {{ tailscale_volume_name }}:
