---
services:
  vaultwarden:
    image: vaultwarden/server:latest
    container_name: vaultwarden
    ports:
      - 8000:80/tcp
    volumes:
      - {{ vaultwarden_data_dir }}:/data
    environment:
      DOMAIN: {{ vaultwarden_url }}
    restart: 'unless-stopped'