---
services:
  plex:
    image: lscr.io/linuxserver/plex:latest
    container_name: plex
    network_mode: host
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/London
      - VERSION=docker
      - PLEX_CLAIM= #optional
    volumes:
      - "{{ plex_data_dir }}:/config"
      - "{{ plex_media_dir }}:/mnt/media"
    restart: unless-stopped
    