services:
    # gluetun (vpn client)
    gluetun:
      image: qmcgaw/gluetun
      cap_add:
        - NET_ADMIN
      devices:
        - /dev/net/tun:/dev/net/tun
      environment:
        - VPN_SERVICE_PROVIDER=mullvad
        - VPN_TYPE=wireguard
        - WIREGUARD_PRIVATE_KEY={{ arr_stack_mullvad_private_key }}
        - WIREGUARD_ADDRESSES=10.72.132.243/32
        - SERVER_CITIES=London
      ports:
        - "9696:9696" # prowlarr
        - "7878:7878" # radarr

    # rdt-client (Real-Debrid Torrent Client)
    rdtclient:
      image: rogerfar/rdtclient
      container_name: rdtclient
      environment:
        - PUID=0
        - PGID=0
        - TZ=Europe/London
      volumes:
        - {{ arr_stack_rdt_client_data_dir }}:/data/db
        - {{ arr_stack_download_dir }}:/data/downloads
      logging:
        driver: json-file
        options:
            max-size: 10m
      ports:
        - 6500:6500
      restart: unless-stopped

    # flaresolverr (cloudflare proxy solver)
    flaresolverr:
      container_name: flaresolverr
      image: ghcr.io/flaresolverr/flaresolverr:latest
      ports:
        - 8191:8191
      environment:
        - LOG_LEVEL=info
      restart: unless-stopped

    # prowlarr (index manager)
    prowlarr:
      container_name: prowlarr
      image: ghcr.io/hotio/prowlarr
      network_mode: "service:gluetun"
      environment:
        - PUID=0
        - PGID=0
        - UMASK=002
        - TZ=Europe/London
        - WEBUI_PORTS=9696/tcp 
      volumes:
        - {{ arr_stack_prowlarr_config_dir }}:/config

    # radarr (movie management)
    radarr:
      container_name: radarr
      image: ghcr.io/hotio/radarr
      network_mode: "service:gluetun"
      environment:
        - PUID=0
        - PGID=0
        - UMASK=002
        - TZ=Europe/London
        - WEBUI_PORTS=7878/tcp 
      volumes:
        - {{ arr_stack_radarr_config_dir }}:/config
        - {{ arr_stack_radarr_movie_dir }}:/movies
        - {{ arr_stack_download_dir }}:/data