services:
    # rdt-client (Real-Debrid Torrent Client)
    rdtclient:
      image: rogerfar/rdtclient
      container_name: rdtclient
      environment:
        - PUID=0
        - PGID=0
        - TZ=Europe/London
      volumes:
        - {{ rdt_client_data_dir }}:/data/db
        - {{ arr_stack_download_dir }}:/data/downloads
      logging:
        driver: json-file
        options:
            max-size: 10m
      ports:
        - 6500:6500
      restart: unless-stopped

    # flaresolverr (cloudflare proxy solver)
    flaresolverr:
      container_name: flaresolverr
      image: ghcr.io/flaresolverr/flaresolverr:latest
      ports:
        - 8191:8191
      environment:
        - LOG_LEVEL=info
      restart: unless-stopped

    # prowlarr (index manager)
    prowlarr:
      container_name: prowlarr
      image: ghcr.io/hotio/prowlarr
      ports:
        - "9696:9696"
      environment:
        - PUID=0
        - PGID=0
        - UMASK=002
        - TZ=Europe/London
        - WEBUI_PORTS=9696/tcp 
      volumes:
        - {{ prowlarr_config_dir }}:/config

    # radarr (movie management)
    radarr:
      container_name: radarr
      image: ghcr.io/hotio/radarr
      ports:
        - "7878:7878"
      environment:
        - PUID=0
        - PGID=0
        - UMASK=002
        - TZ=Europe/London
        - WEBUI_PORTS=7878/tcp 
      volumes:
        - {{ radarr_config_dir }}:/config
        - {{ radarr_data_dir }}:/data
        - {{ radarr_movie_dir }}:/movies