---
- name: Download Tailscale repository file
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/rhel/10/tailscale.repo
    dest: /etc/yum.repos.d/tailscale-stable.repo
    mode: '0644'
    owner: root
    group: root

- name: Install Tailscale
  ansible.builtin.dnf:
    name: tailscale
    state: present

- name: Enable IPv4 forwarding
  ansible.posix.sysctl:
    name: net.ipv4.ip_forward
    value: '1'
    state: present
    reload: true

- name: Enable IPv6 forwarding
  ansible.posix.sysctl:
    name: net.ipv6.conf.all.forwarding
    value: '1'
    state: present
    reload: true

- name: Allow masquerading in firewalld
  ansible.posix.firewalld:
    masquerade: true
    zone: public
    permanent: true
    state: enabled
    immediate: true

- name: Enable and start Tailscale service
  ansible.builtin.systemd:
    name: tailscaled
    enabled: true
    state: started

- name: Authenticate Tailscale with auth key and advertise routes
  ansible.builtin.command: >
    tailscale up
    --reset
    --authkey {{ secrets.tailscale_auth_key }}
    --advertise-routes={{ tailscale_subnet_routes }}
    --accept-dns=false
