---
- name: Download Tailscale repository file
  ansible.builtin.get_url:
    url: https://pkgs.tailscale.com/stable/rhel/10/tailscale.repo
    dest: /etc/yum.repos.d/tailscale-stable.repo
    mode: '0644'
    owner: root
    group: root

- name: Install Tailscale
  ansible.builtin.dnf:
    name: tailscale
    state: present

- name: Enable and start Tailscale service
  ansible.builtin.systemd:
    name: tailscaled
    enabled: true
    state: started