---
- name: Create containers user
  ansible.builtin.user:
    name: containers
    system: true
    shell: /sbin/nologin
    home: /opt/podman
    create_home: false

- name: Create podman storage directory
  ansible.builtin.file:
    path: /opt/podman
    state: directory
    owner: containers
    group: containers
    mode: "0755"

- name: Enable lingering for containers user
  ansible.builtin.command:
    cmd: loginctl enable-linger containers
    creates: /var/lib/systemd/linger/containers

- name: Ensure podman is installed
  ansible.builtin.dnf:
    name: podman
    state: present