---
- name: Ensure podman is installed
  ansible.builtin.dnf:
    name: podman-5.7.1
    state: present

- name: Ensure podman service is enabled and started
  ansible.builtin.systemd:
    name: podman
    enabled: true
    state: started
