---
- name: Install required DNF plugins
  ansible.builtin.dnf:
    name: dnf-plugins-core
    state: present
  become: true

- name: Add Docker CE repository
  ansible.builtin.command: dnf config-manager --add-repo https://download.docker.com/linux/rhel/docker-ce.repo
  args:
    creates: /etc/yum.repos.d/docker-ce.repo
  become: true

- name: Install Docker Engine and plugins
  ansible.builtin.dnf:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: latest
  become: true

- name: Ensure Docker service is running
  ansible.builtin.service:
    name: docker
    state: started
    enabled: true
  become: true

- name: Add "rocky" user to docker group
  ansible.builtin.user:
    name: rocky
    groups: docker
    append: true
  become: true
