---
- name: Ensure firewalld is installed
  ansible.builtin.dnf:
    name: firewalld
    state: present

- name: Ensure firewalld service is enabled and started
  ansible.builtin.systemd:
    name: firewalld
    enabled: true
    state: started