listen-address=127.0.0.1,{{ dnsmasq_server_ip }} # only bind to localhost and the ip of this server
address=/.coble.casa/{{ dnsmasq_reverse_proxy_ip }} # point all *.coble.casa subdomains to reverse proxy
server=1.1.1.1
server=1.0.0.1
no-resolv # don't use /etc/resolv.conf, specifically because it this service is providing the resolution found in that file and it would be a recursive loop
domain-needed # anything without dots does not get forwarded to DNS
log-queries
log-facility=/var/log/dnsmasq.log