name: Lint Ansible Playbooks

on:
    push:
        paths:
            - 'ansible/**'

    pull_request:
        paths:
            - 'ansible/**'

jobs:
  ansible-lint:
    name: Lint Ansible
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
        with:
          submodules: true
          fetch-depth: 0

      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          working_directory: "./ansible"
